<!DOCTYPE html>
<html>
<head>
  <title>Welcome to {{ ansible_hostname }}</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      color: #333;
      text-align: center;
      padding: 50px;
    }
    h1 {
      color: #4CAF50;
    }
    h2 {
      color: #555;
    }
    .container {
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: inline-block;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Welcome to hostname: {{ ansible_hostname }}</h1>
    <h2>IP Address of this host: {{ ansible_default_ipv4.address }}</h2>
  </div>
</body>
</html>